TELEGRAM_BOT_TOKEN=
GITHUB_REPO_URL=https://github.com/luoxisg/cctvmall.git
GIT_REMOTE_NAME=origin
GIT_DEFAULT_BRANCH=main
HERMES_VAULT_PATH=C:\Users\Administrator\Downloads\HDB_Cloud_BMS_CCTV_VA_Footfall_Obsidian
HERMES_TELEGRAM_TIMEOUT=30
HERMES_PUSH_AFTER_SYNC=false
